td,th /* Toutes les cellules des tableaux... */
{
border: 1px solid black; /* ... auront une bordure de 1px */
}

table
{
border-collapse: collapse;
background-color:antiquewhite;

}
td,th /* Mettre une bordure sur les td ET les th */
{
border: 1px solid black;
padding:50px;
}
.f1{
    background-color:antiquewhite;
}
.f2{
    background-color:blue;
}
body{
    background-image: url(web-2592005_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
}
li{
    font-size: 40px;
}    